@robotoLight: 'Roboto-Light';
@robotoMedium: 'Roboto-Medium';
@robotoRegular: 'Roboto-Regular';
@proximaNovaBold: 'Proximanova-Bold';
@merriWeatherLight: 'Merriweather-Light';
@montserratRegular: 'Montserrat-Regular';

@darkCyan: #0f5f5c;
@lightCyan: #c1d3d2;
@cyan: #83a7a5;
@green: #6fb049;
@grey: #6b8383;

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf') format('truetype'),
  url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
}

html {
  font-family: '';
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.fullWidth {
  width: 100%;
}

.textCenter {
  text-align: center;
}

.textJustify {
  text-align: justify;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.upper {
  text-transform: uppercase;
}

.half {
  width: 50%;
}

.perHalf {
  width: 49%;
}

.tableDiv {
  display: table;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.tableCell {
  display: table-cell;
  vertical-align: middle;

}

.tableRow {
  display: table-row;
  vertical-align: middle;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}


.blackColor {
  color: #000000;
}

.whiteColor {
  color: #ffffff;
}

.container {
  max-width: 1110px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;

  .nonScroll {
    overflow: hidden;
    height: 100%;
  }
  .parallaxAttach {
    background-attachment: fixed;
  }
  .parallaxBackground {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .formRow {
    margin-left: -10px;
    margin-right: -10px;
  }

  .formCell {
    padding: 0 5px;
    &.formCellOne {
      width: 8.33333333%;
    }
    &.formCellTwo {
      width: 16.66666667%;
    }
    &.formCellThree {
      width: 25%;
    }
    &.formCellFour {
      width: 33.33333333%;
    }
    &.formCellSix {
      width: 50%;
    }
    &.formCellEight {
      width: 66.66666667%;
    }
    .formCellNine {
      width: 75%;
    }
    &.formCellTen {
      width: 83.33333333%;
    }
  }
}
.myClass{
  background-color: #ff081b;
  width: 300px;
  height: 300px;

}