@latoLight: 'latoLight';
@latoBold: 'latoBold';
@latoRegular: 'latoRegular';
@latoItalic: 'latoItalic';

@grey: #5d6067;
@orange: #fe9748;
@darkGreq: #51545b;

@cyan: #83a7a5;
@green: #6fb049;

@font-face {
  font-family: 'latoLight';
  src: url('../fonts/latoLight.eot');
  src: url('../fonts/latoLight.eot?#iefix') format("embedded-opentype"),
  url('../fonts/latoLight.woff') format('woff'),
  url('../fonts/latoLight.ttf') format('truetype'),
  url('../fonts/latoLight.svg#latoLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoBold';
  src: url('../fonts/latoBold.eot');
  src: url('../fonts/latoBold.eot?#iefix') format("embedded-opentype"),
  url('../fonts/latoBold.woff') format('woff'),
  url('../fonts/latoBold.ttf') format('truetype'),
  url('../fonts/latoBold.svg#latoBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoRegular';
  src: url('../fonts/latoRegular.eot');
  src: url('../fonts/latoRegular.eot?#iefix') format("embedded-opentype"),
  url('../fonts/latoRegular.woff') format('woff'),
  url('../fonts/latoRegular.ttf') format('truetype'),
  url('../fonts/latoRegular.svg#latoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoItalic';
  src: url('../fonts/latoItalic.eot');
  src: url('../fonts/latoItalic.eot?#iefix') format("embedded-opentype"),
  url('../fonts/latoItalic.woff') format('woff'),
  url('../fonts/latoItalic.ttf') format('truetype'),
  url('../fonts/latoItalic.svg#latoItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
}

html {
  font-family: '';
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.fullWidth {
  width: 100%;
}

.textCenter {
  text-align: center;
}

.textJustify {
  text-align: justify;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.upper {
  text-transform: uppercase;
}

.half {
  width: 50%;
}

.perHalf {
  width: 49%;
}

.tableDiv {
  display: table;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.tableCell {
  display: table-cell;
  vertical-align: middle;

}

.tableRow {
  display: table-row;
  vertical-align: middle;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.blackColor {
  color: #000000;
}

.whiteColor {
  color: #ffffff;
}

.container {
  max-width: 975px;
  padding: 0 0px;
  margin: 0 auto;
  position: relative;

  .nonScroll {
    overflow: hidden;
    height: 100%;
  }
  .parallaxAttach {
    background-attachment: fixed;
  }
  .parallaxBackground {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .formRow {
    margin-left: -10px;
    margin-right: -10px;
  }

  .formCell {
    padding: 0 5px;
    &.formCellOne {
      width: 8.33333333%;
    }
    &.formCellTwo {
      width: 16.66666667%;
    }
    &.formCellThree {
      width: 25%;
    }
    &.formCellFour {
      width: 33.33333333%;
    }
    &.formCellSix {
      width: 50%;
    }
    &.formCellEight {
      width: 66.66666667%;
    }
    .formCellNine {
      width: 75%;
    }
    &.formCellTen {
      width: 83.33333333%;
    }
  }
}

.header {
  height: 90px;
  //background-color: rgba(246, 203, 15, 0.32);
  //display: flex;
  //border :1px solid black;
  //align-items: center;
  //justify-content: center;
  .headerLogo {
    margin-top: 23px;
    margin-left: 15px;
  }
}

.headerButton {
  margin-top: 31px;
  .sales {
    margin-left: 13px;
  }
}

.chat {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  color: #ffffff;
  height: 31px;
  width: 175px;
  vertical-align: top;
  font: 13px/31px 'Arial';
  text-align: center;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(178, 178, 178, 0.44);
  -moz-box-shadow: 1px 1px 2px 2px rgba(178, 178, 178, 0.44);
  box-shadow: 1px 1px 2px 2px rgba(178, 178, 178, 0.44);
   background: linear-gradient(rgba(172, 172, 172, 1) 0%, rgba(130, 130, 130, 1) 33%, rgba(130, 130, 130, 1) 46%, rgba(87, 87, 87, 1) 60%, rgba(95, 95, 95, 1) 100%);
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  //}
  &:hover {
    background: linear-gradient(rgb(87, 87, 87) 0%, rgb(130, 130, 130) 33%, rgba(130, 130, 130, 1) 46%, rgb(172, 172, 172) 60%, rgba(95, 95, 95, 1) 100%);
   }
}

.sales {
  display: inline-block;
  height: 31px;
  vertical-align: top;
  width: 175px;
  background-color: #d8d8d8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: black;
  text-align: center;
  font: 13px/31px 'Arial';
  border: solid #acacac 1px;
  //text-decoration: none;
  box-shadow: inset 0px 0px 3px 3px #efefef;
  &:hover {
    background: #acacac;
    background-image: -webkit-linear-gradient(top, #acacac, #acacac);
    background-image: -moz-linear-gradient(top, #acacac, #acacac);
    background-image: -ms-linear-gradient(top, #acacac, #acacac);
    background-image: -o-linear-gradient(top, #acacac, #acacac);
    background-image: linear-gradient(to bottom, #acacac, #acacac);
    text-decoration: none;
  }
}

.shadowLine {
  margin-top: 10px;;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  border-radius: 500px;
  -webkit-box-shadow: 0px -6px 11px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px -6px 11px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px -6px 11px 0px rgba(50, 50, 50, 0.5);
}

.bannerSection {
  .container {
    padding-left: 60px;
    padding-right: 10px;
    background-color: #f2f2f2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 420px;
    margin-top: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
.socialBlock{
  position: absolute;
  top: 50%;
  background-color: #83a7a5;
  width: 40px;
  height: 165px;;
}
    .bannerPluns {
      background-color: rgba(255, 211, 159, 0.33);
      width: 400px;
      height: 100%;
      .bannerTitle {
        color: @orange;
        font: 12px/27px @latoBold;
        // loto bold
      }
      .bannerContentText {
        height: 182px;
        overflow: hidden;
        font: 45px/45px @latoLight;
        color: @grey;
      }
      .bannerMainButton {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: rgba(254, 150, 60, 1);
        background: -moz-linear-gradient(top, rgba(254, 150, 60, 1) 0%, rgba(237, 132, 51, 1) 26%, rgba(215, 111, 41, 1) 55%, rgba(187, 79, 26, 1) 87%, rgba(211, 87, 30, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254, 150, 60, 1)), color-stop(26%, rgba(237, 132, 51, 1)), color-stop(55%, rgba(215, 111, 41, 1)), color-stop(87%, rgba(187, 79, 26, 1)), color-stop(100%, rgba(211, 87, 30, 1)));
        background: -webkit-linear-gradient(top, rgba(254, 150, 60, 1) 0%, rgba(237, 132, 51, 1) 26%, rgba(215, 111, 41, 1) 55%, rgba(187, 79, 26, 1) 87%, rgba(211, 87, 30, 1) 100%);
        background: -o-linear-gradient(top, rgba(254, 150, 60, 1) 0%, rgba(237, 132, 51, 1) 26%, rgba(215, 111, 41, 1) 55%, rgba(187, 79, 26, 1) 87%, rgba(211, 87, 30, 1) 100%);
        background: -ms-linear-gradient(top, rgba(254, 150, 60, 1) 0%, rgba(237, 132, 51, 1) 26%, rgba(215, 111, 41, 1) 55%, rgba(187, 79, 26, 1) 87%, rgba(211, 87, 30, 1) 100%);
        background: linear-gradient(to bottom, rgba(254, 150, 60, 1) 0%, rgba(237, 132, 51, 1) 26%, rgba(215, 111, 41, 1) 55%, rgba(187, 79, 26, 1) 87%, rgba(211, 87, 30, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe963c', endColorstr='#d3571e', GradientType=0);
        display: inline-block;
        height: 70px;
        width: 290px;
        margin-top: 25px;;
        box-shadow: 0px 0px 3px 3px rgba(194, 194, 194, 0.4);
        -moz-box-shadow: 0px 0px 3px 3px rgba(194, 194, 194, 0.4);
        -webkit-box-shadow: 0px 0px 3px 3px rgba(194, 194, 194, 0.4);
        text-align: center;
        padding: 12px;
        -webkit-transition: 0.3s ease all;
        -moz-transition: 0.3s ease all ;
        -ms-transition: 0.3s ease all ;
        -o-transition: 0.3s ease all ;
        transition: 0.3s ease all;
        .plans {
          font: 32px/32px @latoBold;
          color: #ffffff;
        }
        .from {
          font: 14px/17px @latoRegular;
          color: #ffffff;
        }
        &:hover{
          background-color: rgba(254, 150, 60, 1);
          background: -moz-linear-gradient(top, rgb(187, 79, 26) 0%, rgba(237, 132, 51, 1) 26%, rgba(215, 111, 41, 1) 55%, rgb(254, 150, 60) 87%, rgba(211, 87, 30, 1) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(187, 79, 26)), color-stop(26%, rgba(237, 132, 51, 1)), color-stop(55%, rgba(215, 111, 41, 1)), color-stop(87%, rgb(254, 150, 60)), color-stop(100%, rgba(211, 87, 30, 1)));
          background: -webkit-linear-gradient(top, rgb(187, 79, 26) 0%, rgba(237, 132, 51, 1) 26%, rgba(215, 111, 41, 1) 55%, rgb(254, 150, 60) 87%, rgba(211, 87, 30, 1) 100%);
          background: -o-linear-gradient(top, rgb(187, 79, 26) 0%, rgba(237, 132, 51, 1) 26%, rgba(215, 111, 41, 1) 55%, rgb(254, 150, 60) 87%, rgba(211, 87, 30, 1) 100%);
          background: -ms-linear-gradient(top, rgb(187, 79, 26) 0%, rgba(237, 132, 51, 1) 26%, rgba(215, 111, 41, 1) 55%, rgb(254, 150, 60) 87%, rgba(211, 87, 30, 1) 100%);
          background: linear-gradient(to bottom, rgb(187, 79, 26) 0%, rgba(237, 132, 51, 1) 26%, rgba(215, 111, 41, 1) 55%, rgb(254, 150, 60) 87%, rgba(211, 87, 30, 1) 100%);
        }

      }
    }
    .bannerVideo {
      width: 500px;
      position: relative;
      height: 360px;
      background: rgb(242, 242, 242);
      background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(238, 238, 238, 1) 100%);
      background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(238, 238, 238, 1) 100%);
      background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(238, 238, 238, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#eeeeee', GradientType=0);

      .mobileVideo {
        height:100%
      ;
      }

    }
  }
}

.playButton {
  cursor: pointer;
  width: 90px;
  height: 90px;
  background-color: @orange;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all ease 0.5s ;
  -moz-transition: all ease 0.5s ;
  -ms-transition: all ease 0.5s ;
  -o-transition: all ease 0.5s ;
  transition: all ease 0.5s ;
  //height:100px;
  //width: 100px;
  //background-image:img('img/play.png');
  &:after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 37px;
    top: 18px; /* Положение треугольника */

    display: block;
    //background-color: #6fb049;
    border: 26px solid transparent;
    border-left: 26px solid white;
  }

  &:hover{
    background-color: #f6903b;
    &:after{
      border-left: 26px solid #dedede;
    }
  }
}

.greyButton {
  margin-right: 5px;;
  width: 142px;
  margin-top: 18px;
}

.productsSection {
  margin: 30px 0;
  .item {
    //display: block;
    background-color: #f2f2f2;
    width: 31%;
    height: 170px;
    //background: #000;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float: left;
    margin: 0 0 0 2%;
    position: relative;
    overflow: hidden;
    .bottomText {
      //-webkit-border-radius: 15px;
      //-moz-border-radius: 15px;
      //border-radius: 15px;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 50px;
      overflow: hidden;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
      -webkit-transition: 0.3s ease all;
      -moz-transition: 0.3s ease all;
      -ms-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      transition: 0.3s ease all;
      span {
        position: absolute;
        left: 50%;
        top: 50%;
        color: #d9dddf;
        font: 15px/25px @latoRegular;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 90%;
      }
    }
    .centerIcon {
      -webkit-transition: 0.3s ease all;
      -moz-transition: 0.3s ease all;
      -ms-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      transition: 0.3s ease all;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.3);
      width: 75px;
      height: 75px;
      top: -100px;
      right: -40%;
      position: relative;
      .playIco {
        position: absolute;
        top: 18px;
        left: 22px
      }
      .pdf {
        font: 24px/75px @latoBold;
        color: #ffffff;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);
      }
    }
    &:hover {
      .bottomText {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
      }
      .centerIcon {
        top: 25px;
        //  -webkit-transform: translateY(0);
        //  -moz-transform: translateY(0);
        //  -ms-transform: translateY(0);
        //  -o-transform: translateY(0);
        //  transform: translateY(0);
      }
    }
    .itemStart {
      margin: 20px 0 30px 30px;
      li {
        span {
          font: 14px/21px @latoRegular;
          color: #5d6067;
          margin-left: 15px;
        }
      }
    }
    .startText{
      text-align: center;
      font: 14px/21px @latoBold;
      color: #000000;
      span{
        display: inline;
        color: @orange;
        font: 14px/21px @latoBold;
      }
    }
  }
}